@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&family=Reenie+Beanie&family=Roboto:wght@300;400;500&display=swap');

// Variables
$content: 'Roboto', sans-serif;
$titulo: 'Libre Franklin', sans-serif;
$bajada: 'Reenie Beanie', cursive;
$normal: 500;
$bold: 800;
$font-base: 18px;